/* Lav til block-flex eller bare lav content-holder til display:block og lav 3 kolonner i stedet for nu hvor de er løse */

@font-face {
    font-family: TheWave;
    src: url(fonts/Wave-Regular.otf);
}

@font-face {
    font-family: TheWaveBold;
    src: url(fonts/Wave-Bold.otf);
}

@font-face {
    font-family: TheWaveThin;
    src: url(fonts/Wave-Thin.otf)
}

body{
    display:none;
}

a {
    font-size: inherit;
}

p{
    margin:15px;  
    font-size: 15px;
    line-height: 18px;
    font-family:TheWave;
}

hr{
    padding:0px;
    margin:0px;
    height:3px;
    background-color: #be1941;
    border:0px solid black;
}

h1{
    background-color:#d71345;
    padding:15px;
    font-family: TheWave;
    color:white;
    font-size:21px;
}

h2{
    background-color: #be1941;
    padding:10px;
    color:white;
    font-family: TheWaveBold, Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    margin-bottom:0px;
    padding:15px;
    width:100%;
    cursor:pointer;
    
}


.content-holder{
    display:inline-block;
    width: 33%;
    vertical-align: top;
    overflow:hidden;
    vertical-align: top; 
}

.holder-content{
    display:none;
    border-style:solid;
    border-color:#be1941;
    border-top:0px;
}

#colors p{
    margin:15px;
    color:white;
    vertical-align:middle;
    font-family: TheWave, Verdana, Geneva, Tahoma, sans-serif;    
}

#colors #post-text{
    color:black;
}

.colorSquare{
    cursor:pointer;
    width:100%;
    display:inline-block;
}

.danesRed{
    background-color: #be1941;
}

.danesBlaa{
    background-color: #4a7abd;
}

.begynderdanskGroen{
    background-color: #0a9e4a;
}

.ABCRed{
    background-color: #d71345;
}

.verdana{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.wave{
    font-family: TheWave, Verdana, Geneva, Tahoma, sans-serif;
}

.waveBold{
    font-family: TheWaveBold, Verdana, Geneva, Tahoma, sans-serif;
}

.waveThin{
    font-family: TheWaveThin, Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-width:30%;
    max-height: 150px;
    margin:15px;
}


@media only screen and (max-width: 1000px) {
    .content-holder{
        display:block;
        width: 100%;
    }
}