/* Lav til block-flex eller bare lav content-holder til display:block og lav 3 kolonner i stedet for nu hvor de er løse 

+breakpoint til mellemstørrelse så der kun bliver 2 kolonner ie. megabred = 3 kolonner horisontalt, bred = 2 kolonner horisontalt og smal = 1 kolonne
*/

@font-face {
    font-family: TheWave;
    src: url(fonts/Wave-Regular.otf);
}

@font-face {
    font-family: TheWaveBold;
    src: url(fonts/Wave-Bold.otf);
}

@font-face {
    font-family: TheWaveThin;
    src: url(fonts/Wave-Thin.otf)
}

body{
    display:none;
}

a {
    font-size: inherit;
}

p{
    margin:15px;  
    font-size: 15px;
    line-height: 18px;
    font-family:TheWave;
}

hr{
    padding:0px;
    margin:0px;
    height:3px;
    background-color: #be1941;
    border:0px solid black;
}

h1{
    background-color:#d71345;
    padding:15px;
    font-family: TheWave;
    color:white;
    font-size:21px;
}

h2{
    background-color: #be1941;
    padding:10px;
    color:white;
    font-family: TheWaveBold, Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    margin-bottom:0px;
    padding:15px;
    width:100%;
    cursor:pointer;
    
}

.header{
    margin-top:14px;
    color:white;
    font-family: TheWaveBold, Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    margin-bottom:0px;
    width:100%;
    cursor:pointer;
}

.col{
    position:absolute;
    display:inline-block;
    widtH:32%;
    vertical-align: top;
    max-width: 580px;
}

.col1{
    left:1%;
}

.col2{
    left:34%;
}

.col3{
    width:32%;
}

.content-holder{
    display:block;
    width: 100%;
    overflow:hidden;
}

.holder-content{
    display:none;
    border-style:solid;
    border-color:#be1941;
    border-top:0px;
}

#colors p{
    margin:15px;
    color:white;
    vertical-align:middle;
    font-family: TheWave, Verdana, Geneva, Tahoma, sans-serif;    
}

#colors #post-text{
    color:black;
}

.colorSquare{
    cursor:pointer;
    width:100%;
    display:inline-block;
}

.danesRed{
    background-color: #be1941;
}

.danesBlaa{
    background-color: #4a7abd;
}

.begynderdanskGroen{
    background-color: #0a9e4a;
}

.ABCRed{
    background-color: #d71345;
}

.verdana{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.wave{
    font-family: TheWave, Verdana, Geneva, Tahoma, sans-serif;
}

.waveBold{
    font-family: TheWaveBold, Verdana, Geneva, Tahoma, sans-serif;
}

.waveThin{
    font-family: TheWaveThin, Verdana, Geneva, Tahoma, sans-serif;
}

.holder-content img{
    max-width:30%;
    max-height: 150px;
    margin:15px;
}

.revealer{
    width:100%;
}

@media only screen and (max-width: 700px) {
    .holder-content{
        border-style: none;
    }

    .content-holder{
        width:100%
    }

    #colors hr{
        height:2px;
        margin-left:15px;
        margin-right:15px;
    }

    .removeSmall{
        display:none;
    }

    .col{
        width:100%;
        position:static;
        display:block;
        max-width: 540px;
    }   

    .main-wrapper{
        margin-left:11%;
        margin-right:11%;
    }
    
}

/*
Kompliceret - find evt. bedre løsning.

3 display properties. Kolonnerne går fra 3 til 2, så anden kolonne er nødt til at være absolute, ellers skubber den til kolonne 3 når man folder elementerne ud.

Kolonne 3 er nødt til at være block og ikke inline så den rykker rigtigt ned under kolonne 1 (så bliver der to kolonner i alt). 

Der kan givetvis aldrig være 4 kolonner i det her design.
*/

@media only screen and (min-width: 700px) and (max-width: 1200px){
    .col1{
        width:49.5%;
        position:static;
    }
    .col2{
        display:absolute;
        left:50%;
        width:49.5%;
    }
    .col3{
        display:block;
        width:49.5%;
        positioN:static;
    }
}

@media only screen and (min-width:1200px){
    .col{
        position:static;
        text-align: left;
    }
    .main-wrapper{
        text-align: center;
    }
}
